*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body
{
    background-color: #67e454;
    
} 

canvas
{
    background-color: aliceblue;
}
h3
{
    text-align: center;
}
button

{
align-items: center;
 display: inline-block;
 margin: 20;
 
}

.table
{
    background-color:  aliceblue;
    margin-right: auto;
    padding: 100px;

    
}
.contenedor
{
    background-color: white;
}



h3.titulo
{
    color: aliceblue;
}

.row
{
background-color: rgb(22, 188, 44);
}
.tabla{
color: rgb(0, 0, 0);
background-color: antiquewhite;
}